@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}
/* header section */
#header{
    width: 100%;
    height: 100vh;
    background-image: url("images/WhatsApp\ Image\ 2023-11-14\ at\ 6.26.50\ PM.jpeg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav img{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    font-weight: 500;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.home-text{
    margin-top: 20%;
    font-size: 30px;
    line-height: 1;
    font-weight: 250;
}
.home-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.home-text h1 span{
    color: #ff004f;
}
.home img{
    height: 400px;
    width: 450px;
    border-radius: 50%;
}

/* about section */
#about{
    padding: 100px 0px;
}
.about-row{
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.active{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}
.active::after{
    content: '';
    width: 10%;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 50%; /* Adjusted to center the line */
    bottom: -0.5px;
    transform: translateX(-50%);
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    line-height: 2;
}
.about-col-2 h1{
    font-size: 40px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 8px 0px 25px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-content h5{
    font-size: 16px;
    font-weight: 500;
    color: #ff004f;
}
.tab-content ul li{
    list-style: none;
    line-height: normal;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/* my work */
#portfolio{
    padding: 50px 0px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* certificate */
.services-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.certify{
    margin-top: 20px;
}
.certify img{
    height: 300px;
    width: 400px;
}
/* contact */
#contact{
    padding: 100px 0px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ffffff;
    display: inline-block;
    transition: transfom 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn{
    display: block;
    font-weight: 700;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* footer */
.copy-right{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copy-right i{
    color: #ff004f;
}
nav .fa-solid{
    display: none;
}
/* Media Queries for Responsive Design */

/* Smaller screens (phones, 600px and below) */
@media screen and (max-width: 600px) {
    .body{
        overflow: hidden;
    }
    .header{
        background-image: url("images/WhatsApp\ Image\ 2023-11-14\ at\ 6.26.50\ PM.jpeg");
    }
    .home-text{
        font-size: 16px;
        margin-top: 100%;

    }
    .home-text h1{
        font-size: 30px;
    }
    .home-text button{
        margin: 10px 0px;
    }
    nav {
        position: relative; 
        overflow: hidden;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .active{
        font-size: 40px;
        position: relative;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .about{
        padding: 0px;
    }
    .copy-right{
        font-size: 14px;
    }
}

